# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a58069e6f466f596fb6e20c5a2ccbc3ed4ca3f538c3e14f7f488d3fdf210d7cb36aa0591437793ea02dedbf89b4b703731b521b5bd9a23cf785b2f002cd677ec

test:
  secret_key_base: 54cf1e2064d0a224e2c5ad308e7bad5c129e14448e946b1ee47ef63a998db1e4652964a137aebb9cf8aa64f160131461a604c39de126f7d0c730542977582c6a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
